#!/bin/bash
# $HOME/bin/remap-keys

setxkbmap -option caps:ctrl_modifier -option grp:shifts_toggle

# Remove previously running instances
killall xcape
xcape  -e 'Caps_Lock=Escape'

gnome-keyring-daemon --start;

export GTK_THEME=Adwaita:dark
export QT_STYLE_OVERRIDE=Adwaita:dark
export GTK3_RC_FILES=~/.config/gtk-3.0/settings.ini
export QT_QPA_PLATFORMTHEME=gtk3
